!!! 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.1.1.min.css')
    link(rel='stylesheet', href='/stylesheets/my.css')    
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/javascripts/jquery.mobile-1.1.1.min.js')
    script(src='/javascripts/jquery.dateFormat-1.0.min.js')
    script(src='/javascripts/jquery.titlealert.js')
    script(src='/javascripts/my.js')
    script(src='/socket.io/socket.io.js')

  body!= body
